<div class="dashboard-container">
  <h1>Dashboard Financiero</h1>

  <div class="cards">
    <mat-card class="kpi-card">
      <mat-icon> account_balance </mat-icon>

      <h2>
        {{ totalLoans }}
      </h2>

      <p>Total Préstamos</p>
    </mat-card>

    <mat-card class="kpi-card success">
      <mat-icon> check_circle </mat-icon>

      <h2>
        {{ paidLoans }}
      </h2>

      <p>Pagados</p>
    </mat-card>

    <mat-card class="kpi-card warning">
      <mat-icon> pending_actions </mat-icon>

      <h2>
        {{ activeLoans }}
      </h2>

      <p>Activos</p>
    </mat-card>

    <mat-card class="kpi-card primary">
      <mat-icon> attach_money </mat-icon>

      <h2>
        {{ totalAmount | currency }}
      </h2>

      <p>Monto Prestado</p>
    </mat-card>
  </div>

  <div class="summary">
    <div class="charts-container">
      <mat-card class="chart-card">
        <h2>Estado de Préstamos</h2>

        <canvas baseChart [data]="pieChartData" [type]="pieChartType"> </canvas>
      </mat-card>

      <mat-card class="chart-card">
        <h2>Resumen Financiero</h2>

        <canvas baseChart [data]="barChartData" [type]="barChartType"> </canvas>
      </mat-card>
    </div>
    <mat-card>
      <h2>Recuperado</h2>

      <h1>
        {{ recoveredAmount | currency }}
      </h1>
      <button mat-raised-button color="primary" (click)="goToLoans()">
        <mat-icon> account_balance_wallet </mat-icon>

        Ver Préstamos
      </button>
    </mat-card>
  </div>
</div>
