<mat-card>

  <mat-card-header>
    <mat-card-title>
      Gestión de Préstamos
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
<div *ngIf="loading" class="loading-container">

  <mat-spinner diameter="60"></mat-spinner>

  <p>Cargando préstamos...</p>

</div>
<div *ngIf="!loading">
    <table
      mat-table
      [dataSource]="loans"
      class="mat-elevation-z8 loans-table">

      <!-- Monto -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          Monto
        </th>

        <td mat-cell *matCellDef="let loan">
          {{ loan.amount | currency }}
        </td>
      </ng-container>

      <!-- Saldo -->
      <ng-container matColumnDef="currentBalance">
        <th mat-header-cell *matHeaderCellDef>
          Saldo Actual
        </th>

        <td mat-cell *matCellDef="let loan">
          {{ loan.currentBalance | currency }}
        </td>
      </ng-container>

      <!-- Solicitante -->
      <ng-container matColumnDef="applicantName">
        <th mat-header-cell *matHeaderCellDef>
          Solicitante
        </th>

        <td mat-cell *matCellDef="let loan">
          {{ loan.applicantName }}
        </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          Estado
        </th>

        <td mat-cell *matCellDef="let loan">

          <mat-chip>
            {{ getStatus(loan.status) }}
          </mat-chip>

        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">
      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns">
      </tr>

    </table>
</div>
  </mat-card-content>

</mat-card>