<div class="container">

  <h1>Gestión de préstamos</h1>

  <table>

    <thead>
      <tr>
        <th>Monto del préstamo</th>
        <th>Saldo actual</th>
        <th>Solicitante</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let loan of loans">

        <td>
          {{ loan.amount | currency }}
        </td>

        <td>
          {{ loan.currentBalance | currency }}
        </td>

        <td>
          {{ loan.applicantName }}
        </td>  
        <td>
  {{ getStatus(loan.status) }}
</td>     
      </tr>
    </tbody>

  </table>

</div>
